.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.content {
  width: 470px;
  display: flex;
  flex-direction: column;
}

.content h2 {
  margin-bottom: 10px;
}

.content p {
  margin-bottom: 40px;
}

.info {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.info div {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.info .c-icon {
  display: grid;
  place-content: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
}

.info .c-icon i {
  color: var(--primary-color);
  font-size: 1.25rem;
}

.info span {
  color: var(--title-color);
}

.form {
  background: var(--black-color);
  width: 450px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-shadow: 0 1px 16px rgba(0, 0, 0, 0.2);
  row-gap: 20px;
  padding: 40px;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.input {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 10px;
}

.input label {
  font-size: 18px;
  font-weight: var(--fw-700);
  color: var(--body-color);
}

.input input,
.input textarea {
  border: 2px solid var(--body-color);
  padding: 4px 8px;
  width: 100%;
  background: transparent;
  height: 2.5rem;
  font-family: var(--text-font);
  font-size: 16px;
  color: var(--body-color);
  transition: 0.4s;
}

.input textarea {
  resize: vertical;
  min-height: 5rem;
  max-height: 8rem;
}

.input input:is(:focus, :not(:placeholder-shown)),
.input textarea:is(:focus, :not(:placeholder-shown)) {
  border-color: var(--primary-color);
  caret-color: var(--primary-color);
}

.form .btn {
  position: relative;
}

.error-message,
.success-message {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -2rem;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  font-size: 12px;
  text-align: end;
  transition: 0.4s ease-in-out;
}

.error-message {
  color: crimson;
}

.success-message {
  color: lawngreen;
}

.show {
  opacity: 1;
  right: 0;
  visibility: visible;
}

/* Map */
#map.section {
  background: var(--container-color);
}

#map .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#map .container iframe {
  width: 100%;
  height: 450px;
  border: none;
  outline: none;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#map .container iframe:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
}

/* Faqs */
#faqs .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

#faqs .faq-content {
  width: 70%;
  background: var(--black-color);
  padding: 20px;
  transition: 0.4s;
}

#faqs .faq-content:hover {
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.3);
}

#faqs .quest {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

#faqs .quest h1 {
  font-size: 18px;
  font-family: var(--text-font);
  color: var(--body-color);
  transition: 0.4s;
}

#faqs .quest i {
  font-size: 2rem;
  color: var(--body-color);
  transition: 0.4s;
}

#faqs .faq-content .answ {
  transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#faqs .faq-close .answ {
  height: 0;
  overflow: hidden;
}

#faqs .faq-open .answ {
  height: max-content;
  margin: 1rem 0 0.75rem;
}

#faqs .faq-open .quest i {
  color: var(--primary-color);
  transform: rotate(-180deg);
}

#faqs .faq-open .quest h1 {
  color: var(--primary-color);
}

@media screen and (max-width: 968px) {
  #contact .container {
    gap: 5rem;
    justify-content: center;
  }
  #faqs .faq-content {
    width: 100%;
  }
  #faqs .faq-content .quest h1 {
    font-size: 16px;
  }
  #faqs .faq-content .answ span {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  #contact.section {
    padding-top: 0;
  }
}

@media screen and (max-width: 468px) {
  #contact .form {
    padding: 20px;
  }
  #contact .inputs {
    flex-direction: column;
    align-items: normal;
    gap: 20px;
  }
  #faqs .faq-content {
    padding: 10px;
  }
  #faqs .faq-content .quest h1 {
    font-size: 14px;
  }
}
