/* Contact */
.contact-container {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
}

.contact-content,
.contact-form {
  flex: 1;
}

.contact-content {
  width: 725px;

  h1 {
    color: var(--primary-color);
    font-size: var(--fs-30);
    margin-bottom: 20px;
  }

  p {
    font-size: var(--fs-25);
    margin-bottom: 40px;
  }
}

.contact-info {
  display: flex;
  flex-direction: column;
  row-gap: 40px;

  div {
    display: flex;
    align-items: center;
    gap: 20px;

    i {
      color: var(--primary-color);
      font-size: var(--fs-30);
    }

    a {
      font-size: var(--fs-25);
      color: var(--white-color);
      transition: 0.4s;

      &:hover {
        color: var(--white-color-alt);
      }
    }
  }
}

.contact-form {
  max-width: 546px;
  border: 2px solid var(--white-color);
  padding: 40px;
  border-radius: 1.5rem;

  button {
    margin-top: 20px;
    width: 100%;
    cursor: pointer;
    border-radius: 0.5rem;
  }
}

.inputs {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 10px;

  label {
    font-size: var(--fs-20);
  }

  input,
  textarea {
    padding: 10px;
    border: 2px solid var(--white-color);
    border-radius: 0.5rem;
    background: transparent;
    font-size: var(--fs-18);
    color: var(--white-color);
    width: 100%;
    height: 3rem;

    &::placeholder {
      color: #919191;
    }
  }

  textarea {
    resize: vertical;
    min-height: 6rem;
    max-height: 8rem;
  }
}

/* Question */
#question {
  background: var(--container-color);
}

.question-container {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.faqs {
  border: 2px solid var(--white-color);
  padding: 15px 20px;
  border-radius: 1.25rem;

  h2 {
    color: var(--primary-color);
    font-size: var(--fs-25);
    margin-bottom: 10px;
  }

  p {
    font-size: var(--fs-25);
  }
}

/* Map */
#map {
  background-color: var(--container-color);
}

.map-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
}

.map-content,
.map-image {
  flex: 1;
}

.map-content {
  max-width: 583px;

  h2 {
    font-size: var(--fs-30);
    color: var(--primary-color);
    margin-bottom: 40px;
  }

  p {
    font-size: var(--fs-25);
    margin-bottom: 40px;
  }
}

.map-image {
  max-width: 678px;
  height: 470px;

  iframe {
    width: 100%;
    height: 100%;
    border: 0;
    outline: 0;
    border-radius: 1.25rem;
  }
}

/* Sweetalert */
.custom-confirm-button-green {
  background-color: #28a745 !important;
  color: #ffffff !important;
  border: none !important;
}

.custom-confirm-button-red {
  background-color: #dc3545 !important;
  color: #ffffff !important;
  border: none !important;
}

.swal2-popup {
  border: 1px solid #333 !important;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4) !important;
}

@media screen and (max-width: 1150px) {
  .contact-form {
    max-width: 450px;
  }
  .map-image {
    max-width: 450px;
    height: 380px;
  }
}

@media screen and (max-width: 998px) {
  .map-container,
  .contact-container {
    flex-direction: column;
    gap: 5rem;
  }
  .question-container {
    gap: 3rem;
  }
  .contact-content,
  .contact-form,
  .map-content,
  .map-image {
    max-width: auto;
    width: 550px;
  }
  .map-image {
    max-height: 450px;

    iframe {
      min-height: 450px;
    }
  }
  .question-container {
    grid-template-columns: 550px;
  }
}

@media screen and (max-width: 768px) {
  .contact-content,
  .contact-form,
  .map-content,
  .map-image {
    width: 450px;
  }
  .question-container {
    grid-template-columns: 450px;
  }
  .contact-form {
    padding: 20px;
  }
}

@media screen and (max-width: 568px) {
  .contact-content,
  .contact-form,
  .map-content,
  .map-image {
    width: 350px;
  }
  .question-container {
    grid-template-columns: 350px;
  }
  .map-image {
    max-height: 350px;

    iframe {
      min-height: 350px;
    }
  }
}

@media screen and (max-width: 468px) {
  .contact-content,
  .contact-form,
  .map-content,
  .map-image {
    width: 300px;
  }
  .question-container {
    grid-template-columns: 300px;
  }
  .map-image {
    max-height: 300px;

    iframe {
      min-height: 300px;
    }
  }
}
