/* Hero */
.hero-container {
  padding: 40px 0;
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.hero-content,
.hero-image {
  flex: 1;
}

.hero-content {
  max-width: 725px;
  h1 {
    font-size: var(--fs-30);
    color: var(--primary-color);
    margin-bottom: 30px;
  }
  p {
    font-size: var(--fs-25);
    margin-bottom: 40px;
  }
}

/* Popular */
#popular {
  background: var(--container-color);
}

.popular-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 5rem;
}

.services-content,
.services-image {
  flex: 1;
}

.services-content {
  max-width: 709px;
  p {
    font-size: var(--fs-25);
    margin-bottom: 40px;
  }
}
