.popular-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}

#odd-section {
  background: var(--container-color);
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.swiper-container {
  position: relative;
  width: 90%;
  margin: auto;
  overflow: hidden;
  padding-bottom: 4rem;
}

.swiper-pagination {
  bottom: 0;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 5px;
  opacity: 0.7;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: var(--primary-color-alt);
  opacity: 1;
}

.swiper-pagination-bullet:hover {
  background-color: var(--primary-color);
}
