#menu .container,
#newest .container,
#allmenu .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

#menu .card,
#allmenu .card,
#newest .card {
  background: var(--container-color);
  width: 240px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  gap: 20px;
  cursor: pointer;
  flex-shrink: 0;
  transition: 0.4s;
}

#menu .card img,
#allmenu .card img,
#newest .card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  transition: 0.4s;
}

#menu .info,
#allmenu .info,
#newest .info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#menu .info h2,
#allmenu .info h2,
#newest .info h2 {
  font-size: 16px;
}

#menu .info .stars span i,
#allmenu .info .stars span i,
#newest .info .stars span i {
  transition: 0.4s;
}

#menu .action,
#allmenu .action,
#newest .action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menu .action span,
#allmenu .action span,
#newest .action span {
  transition: 0.4s;
}

#menu .action a,
#allmenu .action a,
#newest .action a {
  font-size: 1.25rem;
  color: var(--black-color);
  transition: 0.4s;
}

#menu .action a:hover,
#allmenu .action a:hover,
#newest .action a:hover {
  color: var(--primary-color);
}

#menu .card:hover,
#allmenu .card:hover,
#newest .card:hover {
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.15);
}

#menu .card:hover .action span,
#allmenu .card:hover .action span,
#newest .card:hover .action span {
  color: var(--black-color);
}

#menu .card:hover .stars span i,
#allmenu .card:hover .stars span i,
#newest .card:hover .stars span i {
  color: var(--primary-color);
}

#menu .card:hover img,
#allmenu .card:hover img,
#newest .card:hover img {
}

#allmenu .card {
  display: none;
}

#allmenu .card:nth-child(1),
#allmenu .card:nth-child(2),
#allmenu .card:nth-child(3),
#allmenu .card:nth-child(4),
#allmenu .card:nth-child(5),
#allmenu .card:nth-child(6),
#allmenu .card:nth-child(7),
#allmenu .card:nth-child(8) {
  display: flex;
}

#allmenu .buton {
  display: block;
  margin: 0 auto;
}

/* Newest Menu */
#newest {
  background: var(--container-color);
}

#newest .card {
  background: var(--body-color);
}

/* All Menu */
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

@media screen and (max-width: 768px) {
}
