#nav-menu ul li a,
#nav-menu .active {
  color: var(--container-color);
}

#nav-menu ul li a::after {
  background: var(--body-color);
}

#header.fixed-header #nav-menu ul li a{
    color: var(--text-color);
}

#header.fixed-header #nav-menu .active{
    color: var(--black-color);
}

#header.fixed-header #nav-menu ul li a::after {
    background: var(--black-color);
}