.services-1 .container,
.services-2 .container,
.services-3 .container {
  padding: 120px 0;
}

.services-1 .container {
  padding-top: 0;
}

.services-1 .container,
.services-2 .container,
.services-3 .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
}

.services-1 .image,
.services-2 .image,
.services-3 .image {
  width: 480px;
  height: 480px;
  padding: 20px;
  background: var(--container-color);
  box-shadow: 0 1px 16px rgba(0, 0, 0, 0.1);
}

.services-2 .image {
  background-color: var(--body-color);
}

.services-1 .image img,
.services-2 .image img,
.services-3 .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.services-1 .content,
.services-2 .content,
.services-3 .content {
  width: 450px;
}

.services-1 .info,
.services-2 .info,
.services-3 .info {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-bottom: 40px;
}

.services-1 .info h1,
.services-2 .info h1,
.services-3 .info h1 {
  font-size: 18px;
}

.services-2 {
  background: var(--container-color);
}

.services-3 .container {
  padding-bottom: 0;
}

#client {
  background: var(--container-color);
}

#client .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 4rem;
}

#client .card {
  max-width: 540px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background: var(--black-color);
  transition: 0.4s;
}

#client .card .head {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#client .card .head .stars {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

#client .card .head .stars i {
  color: var(--primary-color);
  font-size: 1.25rem;
}

#client .card .bottom {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}

#client .card .bottom img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid transparent;
  outline: 2px solid var(--primary-color);
}

#client .card .bottom span {
  color: var(--body-color);
}

#client .card .bottom span b {
  color: var(--primary-color);
}

#client .card:hover {
  background: #000;
  box-shadow: 0 1px 16px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 1180px) {
  .services-1 .image,
  .services-2 .image,
  .services-3 .image {
    width: 380px;
    height: 380px;
  }
  #client .container {
    justify-content: center;
  }
  #client .container .card {
    max-width: 380px;
  }
}

@media screen and (max-width: 968px) {
  .services-1 .container,
  .services-2 .container,
  .services-3 .container {
    justify-content: center;
  }
  .services-1 .image,
  .services-2 .image,
  .services-3 .image {
    width: 450px;
    height: 450px;
  }
  .services-1 .image,
  .services-3 .image {
    order: -1;
  }
  .services-1 .info h1,
  .services-2 .info h1,
  .services-3 .info h1 {
    text-align: center;
  }
  #client .container .card {
    max-width: 450px;
    padding: 10px;
  }
}

@media screen and (max-width: 768px) {
  .section {
    padding-top: 0;
  }
}
