@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --header-height: 3.5rem;
  --body-font: "Montserrat", sans-serif;

  --big-font-size: 3rem;
  --h1-font-size: 1.75rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 0.993rem;
  --small-font-size: 0.838rem;

  --body-color: #f3f3f3;
  --container-color: #f8f8f8;
  --first-color: #9a4dff;
  --first-color-light: #eee1ff;
  --black-color: #181c14;
  --white-color: #ffffff;
  --title-color: #3c3d37;
  --text-color: #697565;

  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  --z-fixed: 100;
  --z-tooltip: 10;
}

@media screen and (min-width: 1150px) {
  :root {
    --big-font-size: 3.5rem;
    --h1-font-size: 2rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.5rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.898rem;
  }
}

::-webkit-scrollbar {
  width: 0.6rem;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--title-color);
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  background: var(--body-color);
  color: var(--text-color);
  font-family: var(--body-font);
  font-weight: var(--fw-300);
  font-size: var(--normal-font-size);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-color);
  font-weight: var(--fw-600);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
textarea,
input {
  border: none;
  outline: none;
}

section {
  min-height: 30vh;
}

/* Css class */
.section {
  padding: 5rem 0 3rem;
}

.main {
  overflow: hidden;
}

.grid {
  display: grid;
  gap: 1.25rem;
}

.container {
  max-width: 1180px;
  margin: 0 1.25rem;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: var(--z-fixed);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  font-size: 1.15rem;
  color: var(--title-color);
  font-weight: var(--fw-500);
}

.nav-close,
.nav-toggle {
  cursor: pointer;
}

.nav-toggle {
  color: var(--title-color);
  font-size: 1.35rem;
}

@media screen and (max-width: 998px) {
  .nav-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100%;
    padding: 4rem 5rem;
    background: #f1f1f1;
    box-shadow: -1px 0 16px rgba(0, 0, 0, 0.1);
    z-index: var(--z-fixed);
    transition: 0.4s;
  }
}

.nav-list {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.nav-link {
  position: relative;
  font-size: var(--h3-font-size);
  color: var(--text-color);
  transition: 0.4s;
  font-weight: var(--fw-500);
  text-transform: capitalize;
}

.nav-link::after {
  position: absolute;
  content: "";
  bottom: -0.5rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background: var(--title-color);
  opacity: 0;
  transition: 0.4s;
}

.nav-link:hover {
  color: var(--title-color);
}

/* Active nav-link */
.active {
  color: var(--title-color);
}

.active::after {
  opacity: 1;
}

.nav-close {
  position: absolute;
  top: 1.25rem;
  right: 1.5rem;
  font-size: 2rem;
  color: var(--title-color);
}

/* Show Menu */
.show-menu {
  right: 0;
}

/* shadow-header */
.shadow-header {
  background: var(--body-color);
  box-shadow: 0 1px 16px rgba(0, 0, 0, 0.1);
}

.scrollup {
  position: fixed;
  bottom: 1.5rem;
  right: 1rem;
  width: 35px;
  height: 35px;
  opacity: 0;
  visibility: hidden;
  display: grid;
  place-content: center;
  background: var(--black-color);
  border-radius: 0.5rem;
  transition: 0.4s;
  z-index: var(--z-tooltip);
}

.scrollup i {
  font-size: 1.15rem;
  color: var(--body-color);
}

.scrollup:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.2);
}

/* show scrollup */
.show-scroll {
  opacity: 1;
  visibility: visible;
}

/* Footer */
.footer {
  background: var(--black-color);
  padding: 4rem 0 3rem;
}

.footer-container {
  row-gap: 3rem;
  padding-bottom: 3rem;
}

.footer-info {
  text-align: center;
}

.footer-logo {
  font-weight: var(--fw-700);
  color: var(--white-color);
  font-size: var(--h3-font-size);
}

.footer-title {
  color: var(--container-color);
  font-size: var(--small-font-size);
  margin-top: 0.75rem;
}

.fcontent-container {
  row-gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fcontent-content {
  margin-left: 2rem;
  width: 100px;
}

.fcontent-title {
  font-weight: var(--fw-700);
  color: var(--white-color);
  font-size: 1.15rem;
  margin-bottom: 0.75rem;
}

.fcontent-list {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.fcontent-list li a {
  color: var(--container-color);
  transition: 0.4s;
}

.fcontent-list li a:hover {
  color: var(--white-color);
}

.footer-bottom {
  border-top: 1px solid var(--container-color);
  padding: 3rem 0 0;
  text-align: center;
}

.fbottom-list {
  display: flex;
  justify-content: center;
  column-gap: 0.75rem;
  margin-bottom: 1rem;
}

.fbottom-list li a {
  width: 35px;
  height: 35px;
  display: grid;
  place-content: center;
  border: 2px solid var(--container-color);
  border-radius: 50%;
  color: var(--container-color);
  font-size: 1.25rem;
}

.fbootom-copy{
  font-size: var(--small-font-size);
}

/* Responsive */
@media screen and (max-width: 340px) {
  .container {
    margin: 0 1rem;
  }
}

@media screen and (min-width: 768px) {
  .nav-menu {
    width: 50%;
  }
  .scrollup {
    right: 1.5rem;
  }
  .fcontent-content {
    width: 150px;
  }
}

@media screen and (min-width: 998px) {
  .nav-close,
  .nav-toggle {
    display: none;
  }
  .nav-list {
    flex-direction: row;
    justify-content: space-between;
  }
  .nav-logo {
    font-size: 1.25rem;
  }
  .nav-link {
    font-size: 1.15rem;
  }
  .footer-container {
    grid-template-columns: 0.5fr 1fr;
  }
  .footer-info {
    text-align: start;
  }
  .fcontent-content {
    width: 160px;
  }
  .fbottom-list {
    margin-bottom: 1.5rem;
  }

}

@media screen and (min-width: 1150px) {
  .section {
    padding: 9rem 0 4rem;
  }
  .container {
    margin: 0 auto;
  }
  .nav {
    height: calc(var(--header-height) + 2rem);
  }
  .scrollup {
    right: 2rem;
    bottom: 2rem;
  }
}
